/* WordCamp Montclair 2025
------------------------------------------- 

Table of contents
	- Header
	- Globals
	- Front Page
	- Media Queries

------------------------------------------- */
/* Form Elements
-------------------------------------------- */
input,
select,
textarea {
	border-radius: 40px !important;
	border: 1px solid #000;
	font-size: 18px;
}

.wp-block-jetpack-contact-form label {
	font-size: 18px;
}

.wp-block-jetpack-contact-form label .grunion-label-required {
	font-size: 14px;
}

.wp-block-button__link, 
.wp-element-button,
.contact-form :is([type=submit],button:not([type=reset])),
.wp-block-jetpack-button:not(.is-style-outline) button {
	background-color: #cc5b40 !important;
	border: 1px solid #cc5b40;
	border-radius: 40px;
	font-size: 18px !important;
	font-weight: 700 !important;
	padding: 16px 32px !important;
	transition: all .2s;
	width: auto;
}

.wp-block-button__link:focus, 
.wp-element-button:focus,
.contact-form :is([type=submit],button:not([type=reset])):focus,
.wp-block-jetpack-button:not(.is-style-outline) button:focus,
.wp-block-button__link:hover, 
.wp-element-button:hover,
.contact-form :is([type=submit],button:not([type=reset])):hover,
.wp-block-jetpack-button:not(.is-style-outline) button:hover {
	background-color: #000 !important;
	border: 1px solid #000;
}

a,
.wp-block-read-more:where(:not([style*=text-decoration])) {
	color: #cc5a40;
	text-decoration: underline;
	transition: all .2s;
}

a:focus,
a:hover,
.wp-block-read-more:where(:not([style*=text-decoration])):focus,
.wp-block-read-more:where(:not([style*=text-decoration])):hover {
	color: #000;
	text-decoration: none;
}

.subscribe-form.wp-block-jetpack-contact-form {
	align-items: flex-end;
	padding: 0 !important;
}

/* Globals
-------------------------------------------- */
.wp-block-image {
	position: relative;
}

.wp-block-image .wp-element-caption {
	bottom: 0;
	background-color: #000;
	left: 0;
	margin: 0;
	padding: 8px 12px;
	position: absolute;
}

.hidden-row {
	display: none;
}

/* Front Page
-------------------------------------------- */
.hero-row .wp-block-group.has-custom-red-background-color {
	background: #cc5a40 url('/2025/files/2024/11/Wapuu.webp') no-repeat right bottom/contain;
	margin-bottom: 24px;
	width: 100%;
}

.hero-row .has-custom-red-background-color .wp-block-columns {
	flex-direction: column-reverse;
}

.hero-img-col .wp-block-image {
	margin-bottom: -40px;
}

.hero-row-white {
	justify-content: center;
	width: 100%;
}

.recent-posts-wrap .recent-post {
	border: 1px solid color(srgb 0.0666667 0.0666667 0.0666667 / 0.2);
	border-radius: 10px;
	font-size: 18px;
	padding: 30px;
}

.recent-posts-wrap .recent-post .wp-block-post-date {
	color: #000;
	font-weight: 700;
	margin-bottom: 8px;
}

.recent-posts-wrap .recent-post .wp-block-post-title {
	font-size: 24px;
	margin-top: 0;
}

.recent-posts-wrap .recent-post .wp-block-post-title a {
	color: #000;
}

.recent-posts-wrap .recent-post .wp-block-post-title a:focus,
.recent-posts-wrap .recent-post .wp-block-post-title a:hover {
	color: #cc5a40;
}

/* Media Queries
------------------------------------------- */
@media only screen and (min-width: 768px) {
	/* Form Elements
		-------------------------------------------- */
	.subscribe-form.wp-block-jetpack-contact-form {
		gap: 0;
	}
	
	.subscribe-form .grunion-field-email-wrap {
		flex: 0 0 63%;
	}
	
	.subscribe-form .wp-block-button {
		flex: 0 0 37%;
	}
	
	.subscribe-form .grunion-field-email-wrap input {
		border-radius: 40px 0 0 40px !important;
	}
	
	.subscribe-form .wp-block-button button {
		border-radius: 0 40px 40px 0;
	}
	
	/* Header
		-------------------------------------------- */
	.site-logo {
		left: 24px;
		position: absolute;
		top: -40px;
		width: 200px;
		z-index: 9;
	}
	
	/* Front Page
		-------------------------------------------- */
	.hero-row {
		margin-bottom: 48px !important;
	}
	
	.hero-row .has-custom-red-background-color .wp-block-columns {
		flex-direction: inherit;
		margin-bottom: 0;
	}
	
	.hero-img-col .wp-block-image {
		margin-bottom: -350px;
	}
	
	.hero-text-col > .wp-block-group {
		max-width: 500px;
	}
	
	.hero-row .hero-text-col h1.wp-block-heading {
		font-size: 56px !important;
	}
	
	.recent-posts-wrap {
		display: flex;
		gap: 40px;
	}
	
	.recent-posts-wrap .recent-post {
		width: calc((100% - 80px) / 3);
	}
}

@media only screen and (max-width: 767px) {
	.has-custom-red-background-color .hero-text-col {
		padding-top: 0 !important;
	}
}

@media only screen and (max-width: 500px) {
	.site-logo {
		width: 150px;
	}
}